@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Light&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #171717;
    --foreground: #ffffff;
    --highlight: #1e90ff; /* Light blue for highlights */
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --highlight: 220 90% 56%; /* Bright blue for highlight */
        --card: 240 10% 15%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 15%;
        --popover-foreground: 0 0% 98%;
        --primary: 220 80% 50%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 5% 25%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 5% 20%;
        --muted-foreground: 240 5% 70%;
        --accent: 220 80% 50%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5% 25%;
        --input: 240 5% 25%;
        --ring: 220 80% 50%;
        --chart-1: 200 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --radius: 0.5rem;

        --font-main: "Courier Prime", monospace;
    }
    .dark {
        --background: 0 0% 10%;
        --foreground: 0 0% 98%;
        --highlight: 220 90% 56%; /* Bright blue for highlights */
        --card: 0 0% 15%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 15%;
        --popover-foreground: 0 0% 98%;
        --primary: 220 80% 50%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 5% 25%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 5% 20%;
        --muted-foreground: 240 5% 70%;
        --accent: 220 80% 50%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5% 25%;
        --input: 240 5% 25%;
        --ring: 220 80% 50%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

body {
    font-family: var(--font-main);
    background-color: var(--background);
    color: var(--foreground);
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: var(--background);
}

html::-webkit-scrollbar-thumb {
    background: var(--highlight);
}

.parentCard {
    transition: all;

    .childCard {
        display: none;
    }
}

.parentCard:hover {
    transition: all;

    .childCard {
        display: flex;
    }
}